@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@300;400;600;700&family=STIX+Two+Math&display=swap');

:root {
  
  --font-family: "Roboto", sans-serif;
  --second-family: "STIX Two Math", sans-serif;
  --third-family: "Inter", sans-serif;

  --color-background: #fff;
  --color-background-secondary: rgba(0, 0, 0, 0.65); 
  --color-input-background: #fafafa;
  --color-white: #fff;
  --color-border: #dbdbdb;
  --color-text-primary: #000;
  --color-text-secondary: #737373; 
  --color-text-white: #fff;
  --color-button-primary: #0095f6;
  --color-button-primary-hover: #1b61bd;
  --color-button-secondary: #efefef;
  --color-button-secondary-hover: #dbdbdb;
  --color-link: #0095f6; 
  --color-link-dark: #00376b; 
  --color-error: #ed4956;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
}