.button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Варианты кнопок */
.primary {
  background-color: var(--color-button-primary);
  color: var(--color-text-white);
}

.primary:hover:not(:disabled) {
  background-color: var(--color-button-primary-hover);
}

/* Добавим secondary вариант, он нам пригодится */
.secondary {
  background-color: var(--color-button-secondary);
  color: var(--color-text-primary);
}

.secondary:hover:not(:disabled) {
    background-color: var(--color-button-secondary-hover);
}